main {
    .hero {
        width: 100%;
        height: calc(100vh - 110px);
        /* height 500px*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../img/pizza-horno.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;

        h2 {
            color: $color-secundario;
            font-size: nth($font-size, 1);
            border: 4px solid $color-secundario;
            padding: 20px;
        }

        p {
            color: $color-secundario;
            margin-bottom: 50px;
            font-size: 30px;
        }

        a {
            background-color: $color-principal;
            text-decoration: none;
            color: $color-secundario;
            padding: 15px;
            font-size: 20px;
        }
    }

    .bienvenidos {
        @extend %flex-center;
        text-align: center;

        div {
            h2 {
                font-size: 50px;
                color: $color-principal;
            }

            p {
                margin-left: 10px;
                font-size: 30px;
            }
        }

        img {
            width: map-get($modificando-img, ancho-img);
            height: map-get($modificando-img, alto-img);
            margin-left: map-get($modificando-img, margin-izquierdo);
        }
    }

    .productos {
        h2 {
            background-color: $color-principal;
            color: $color-secundario;
            text-align: center;
            padding: 18px;
            text-transform: uppercase;
        }

        .productos-contenedor {
            @include flex(flex, space-around, center, wrap, 0);

            div {
                border: 2px gray solid;
                width: 304px;
                height: 350px;
                text-align: center;
                margin: 20px;
                box-shadow: -1px 10px 43px -7px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: -1px 10px 43px -7px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: -1px 10px 43px -7px rgba(0, 0, 0, 0.75);

                img {
                    width: 300px;
                    height: 250px;
                }

                h3 {
                    margin-bottom: 20px;
                    font-size: 25px;
                }

                a {
                    text-decoration: none;
                    color: $color-secundario;
                    background-color: $color-principal;
                    padding: 10px;
                    text-decoration: none;
                }
            }

            div {
                border: 2px gray solid;
                width: 304px;
                height: 350px;
                text-align: center;
                margin: 20px;
                box-shadow: -1px 10px 43px -7px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: -1px 10px 43px -7px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: -1px 10px 43px -7px rgba(0, 0, 0, 0.75);

                img {
                    width: 300px;
                    height: 250px;
                }

                h3 {
                    margin-bottom: 20px;
                    font-size: 25px;
                }

                a {
                    text-decoration: none;
                    color: $color-secundario;
                    background-color: $color-principal;
                    padding: 10px;
                    text-decoration: none;
                }


            }

            div {
                border: 2px gray solid;
                width: 304px;
                height: 350px;
                text-align: center;
                margin: 20px;
                box-shadow: -1px 10px 43px -7px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: -1px 10px 43px -7px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: -1px 10px 43px -7px rgba(0, 0, 0, 0.75);

                img {
                    width: 300px;
                    height: 250px;
                }

                h3 {
                    margin-bottom: 20px;
                    font-size: 25px;
                }

                a {
                    text-decoration: none;
                    color: $color-secundario;
                    background-color: $color-principal;
                    padding: 10px;
                    text-decoration: none;
                }
            }
        }
    }

    .iconos-contacto {
        h3 {
            background-color: $color-principal;
            color: $color-secundario;
            text-align: center;
            font-size: 30px;
            margin-bottom: 10px;
            padding: 18px;
            text-transform: uppercase;
            margin-top: 15px;
        }

        div {
            @include flex(flex, space-evenly, center, wrap, 0);

            div {
                a {
                    i {
                        font-size: 50px;
                        margin: 10px;
                        color: $color-principal !important;
                    }
                }

                p {}
            }

            div {
                a {
                    i {
                        font-size: 50px;
                        margin: 10px;
                        color: $color-principal !important;
                    }
                }

                p {}
            }

            div {
                a {
                    i {
                        font-size: 50px;
                        margin: 10px;
                        color: $color-principal !important;
                    }
                }

                p {}
            }
        }
    }

    .formulario-contacto {
        h3 {
            text-align: center;
            color: $color-principal !important;
        }

        form {
            .controls {
                @include flex(flex, center, center, 0, 0);

                label {
                    font-size: 17px;
                }

                input {
                    margin: 10px;
                    padding: 10px;
                    width: 100%;
                }
            }

            .controls {
                @include flex(flex, center, center, 0, 0);

                label {
                    font-size: 17px;
                }

                input {
                    margin: 10px;
                    padding: 10px;
                    width: 100%;
                }
            }

            .controls {
                @include flex(flex, center, center, 0, 0);

                label {
                    font-size: 17px;
                }

                input {
                    margin: 10px;
                    padding: 10px;
                    width: 100%;
                }
            }

            .controls {
                @include flex(flex, center, center, 0, 0);

                label {
                    font-size: 17px;
                }

                .controls {
                    @include flex(flex, center, center, 0, 0);

                    label {
                        font-size: 17px;
                    }

                    input {
                        margin: 10px;
                        padding: 10px;
                        width: 100%;
                    }

                    label {
                        font-size: 17px;
                    }

                    input {
                        margin: 10px;
                        padding: 10px;
                        width: 100%;
                    }

                    label {
                        font-size: 17px;
                    }

                    input {
                        margin: 10px;
                        padding: 10px;
                        width: 100%;
                    }
                }
            }

            .controls {
                @include flex(flex, center, center, 0, 0);

                label {
                    font-size: 17px;
                }

                select {
                    option {}

                    option {}

                    option {}

                    option {}

                    option {}
                }
            }

            .controls {
                @include flex(flex, center, center, 0, 0);

                label {
                    font-size: 17px;
                }

                textarea {}
            }

            .botones-contacto {
                @include flex(flex, center, center, 0, 0);
                margin: 10px;
                padding: 20px;

                input {}

                input {}
            }
        }
    }

    .mapa-contacto {
        @include flex(flex, space-between, center, wrap, 0);
        background-color: $color-principal;

        div {
            h2 {
                color: $color-secundario;
                text-align: center;
                
            }

            p {
                color: $color-secundario;
                text-align: center;
            }
        }

        iframe {}
    }

    
}