$color-principal:#000000;
$color-secundario:#ffffff;

$font-size: 70px,50px,40px,30px,25px,20px;

$modificando-img:(
    ancho-img:400px,
    alto-img:500px,
    margin-izquierdo:10px,
);

%flex-center{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flex($flex, $justify, $aling, $wrap){
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
    flex-wrap: $wrap;

}